<div class="container">
    <div style="text-align: center;">
        <h2>Sobre nós</h2>
    </div>
    <div class="row">
        <div>
            <img src="../../assets/img/sobre.jpg">
        </div>
        <div>
            <h4>
                O propósito de nossa empresa é oferecer soluções completas para empresas baseadas na
                assertividade, na personalização e no relacionamento. É isso que nos
                torna uma referência no mercado.
            </h4>
        </div>
    </div>
</div>
