    <div class="row">
      <div  style="width:18%; ">
        <img href = "index.html" src="../assets/img/logo-azul.png" id="logo"/>
      </div>
      <div style="width:57%;">
        <ul>
          <li><a href="/home">Início</a></li>
          <li><a href="/novidades">Novidades</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/sobre">Sobre</a></li>
        </ul>
      </div>
      <div style="width:25%;">
        <ul>
          <li style="float: right;"><a href="/login">Login</a></li>
          <li style="float: right;"><a href="/cadastro">Cadastro</a></li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>

