<div class="container">
    <div>
        <h2>
            Painel do administrador
        </h2>
    </div>
    <div>
        <form sty>
            <div class="row">
                <div class="title">
                    <h3>Maximo de parcelas :</h3>
                </div>
                <div class="input">
                    <input type="number" name="maximo-parcelas">
                </div>                
            </div>
            
            <div class="row">
                <div class="title">
                    <h3>Tipo de juros :</h3>
                </div>
                <div class="input">
                    <select>
                        <option value="1">Simples</option>
                        <option value="2">Composto</option>
                    </select>
                </div>                
            </div>
            <div class="row">
                <div class="title">
                    <h3>Comissão (%) :</h3>
                </div>
                <div class="input">
                    <input type="number" name="maximo-parcelas">
                </div>                
            </div>
        </form><br><br>
        <div>
            <label>Maximo de parcelas atual:</label> <Br>
            <label>Tipo de imposto atual:</label> <Br>
            <label>Comissão atual:</label> 
        </div>
    </div>    
</div>