<div class="container">
    <div>
        <h2>Novidades</h2>
    </div>
    <div class="row">
        <div class="item">
            <div>
                <img src="../../assets/img/inovacao.jpg">
            </div>
            <div>
                <h4>Setor de inovação</h4>
            </div>
        </div>
        <div class="item">
            <div>
                <img src="../../assets/img/automacao.jpg">
            </div>
            <div>
                <h4>Setor de testes automatizados</h4>
            </div>
        </div>
    </div>
</div>