<div class="all">
    <div style="text-align: center;">
        <h2>Conheça nossos produtos</h2>
    </div>
    <div class="row">
        <div class="container">
            <div class="img"><img src="../../assets/img/pagou-facil.png"></div>            
            <h3><a href="">Pagou Fácil</a></h3>
            <h5>Produto de pagamentos, revolucionário, devido a sua praticidade de uso</h5>
        </div>
        <div class="container">
            <div class="img"><img src="../../assets/img/enviou-facil.png"></div>
            <h3><a href="">Enviou fácil</a></h3>
            <h5>Produto para envios, revolucionário, entrega fácil e agil</h5>
        </div>
        <div class="container">
            <div class="img"><img src="../../assets/img/agente-virtual.jpeg"></div>
            <h3><a href="">Agente virtual</a></h3>
            <h5>Agente virtual, para automatizar seu atendimento ao cliente.</h5>
        </div>
    </div>
</div>
